In [2]:
import warnings
warnings.filterwarnings('ignore')
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql postgresql://millbr02:@localhost/world

'Connected: millbr02@world'

In [6]:
%%sql

select *
from country
where region = 'Middle East';

18 rows affected.

[('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'),
 ('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kot\x9aarjan', 126, 'AM'),
 ('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'),
 ('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, Decimal('6366.00'), Decimal('6097.00'), 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH'),
 ('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, Decimal('6064.00'), Decimal('5924.00'), 'Sakartvelo', 'Republic', 'Eduard \x8aevardnadze', 905, 'GE'),
 ('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, Decimal('11500.00'), None, 'Al-´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ'),
 ('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, Decimal('97477.00'), Decimal('98577.00'), 'Yisra\x92el/Isra\x92il', 'Republic', 'Moshe Katzav', 1450, 'IL'),
 ('YEM', 'Yemen', 'Asia', 'Middle East', 527968.0, 1918, 18112000, 59.8, Decimal('6041.00'), Decimal('5729.00'), 'Al-Yaman', 'Republic', 'Ali Abdallah Salih', 1780, 'YE'),
 ('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, Decimal('7526.00'), Decimal('7051.00'), 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO'),
 ('KWT', 'Kuwait', 'Asia', 'Middle East', 17818.0, 1961, 1972000, 76.1, Decimal('27037.00'), Decimal('30373.00'), 'Al-Kuwayt', 'Constitutional Monarchy (Emirate)', 'Jabir al-Ahmad al-Jabir al-Sabah', 2429, 'KW'),
 ('CYP', 'Cyprus', 'Asia', 'Middle East', 9251.0, 1960, 754700, 76.7, Decimal('9333.00'), Decimal('8246.00'), 'Kýpros/Kibris', 'Republic', 'Glafkos Klerides', 2430, 'CY'),
 ('LBN', 'Lebanon', 'Asia', 'Middle East', 10400.0, 1941, 3282000, 71.3, Decimal('17121.00'), Decimal('15129.00'), 'Lubnan', 'Republic', 'Émile Lahoud', 2438, 'LB'),
 ('OMN', 'Oman', 'Asia', 'Middle East', 309500.0, 1951, 2542000, 71.8, Decimal('16904.00'), Decimal('16153.00'), '´Uman', 'Monarchy (Sultanate)', 'Qabus ibn Sa´id', 2821, 'OM'),
 ('QAT', 'Qatar', 'Asia', 'Middle East', 11000.0, 1971, 599000, 72.4, Decimal('9472.00'), Decimal('8920.00'), 'Qatar', 'Monarchy', 'Hamad ibn Khalifa al-Thani', 2973, 'QA'),
 ('SAU', 'Saudi Arabia', 'Asia', 'Middle East', 2149690.0, 1932, 21607000, 67.8, Decimal('137635.00'), Decimal('146171.00'), 'Al-´Arabiya as-Sa´udiya', 'Monarchy', 'Fahd ibn Abdul-Aziz al-Sa´ud', 3173, 'SA'),
 ('SYR', 'Syria', 'Asia', 'Middle East', 185180.0, 1941, 16125000, 68.5, Decimal('65984.00'), Decimal('64926.00'), 'Suriya', 'Republic', 'Bashar al-Assad', 3250, 'SY'),
 ('TUR', 'Turkey', 'Asia', 'Middle East', 774815.0, 1923, 66591000, 71.0, Decimal('210721.00'), Decimal('189122.00'), 'Türkiye', 'Republic', 'Ahmet Necdet Sezer', 3358, 'TR'),
 ('PSE', 'Palestine', 'Asia', 'Middle East', 6257.0, None, 3101000, 71.4, Decimal('4173.00'), None, 'Filastin', 'Autonomous Area', 'Yasser (Yasir) Arafat', 4074, 'PS')]

In [7]:
%%sql

select name, region from country where region = 'Middle East';

18 rows affected.

[('United Arab Emirates', 'Middle East'),
 ('Armenia', 'Middle East'),
 ('Azerbaijan', 'Middle East'),
 ('Bahrain', 'Middle East'),
 ('Georgia', 'Middle East'),
 ('Iraq', 'Middle East'),
 ('Israel', 'Middle East'),
 ('Yemen', 'Middle East'),
 ('Jordan', 'Middle East'),
 ('Kuwait', 'Middle East'),
 ('Cyprus', 'Middle East'),
 ('Lebanon', 'Middle East'),
 ('Oman', 'Middle East'),
 ('Qatar', 'Middle East'),
 ('Saudi Arabia', 'Middle East'),
 ('Syria', 'Middle East'),
 ('Turkey', 'Middle East'),
 ('Palestine', 'Middle East')]

### select the distinct forms of government

In [9]:
%%sql

select distinct governmentform from country;

35 rows affected.

[('Monarchy',),
 ('Socialistic Republic',),
 ('Federal Republic',),
 ('Overseas Department of France',),
 ('Constitutional Monarchy',),
 ('Special Administrative Region of China',),
 ('Part of Denmark',),
 ('Administrated by the UN',),
 ('Republic',),
 ('Islamic Republic',),
 ('US Territory',),
 ('Monarchy (Emirate)',),
 ('Dependent Territory of the US',),
 ('Co-administrated',),
 ('Dependent Territory of the UK',),
 ('Constitutional Monarchy, Federation',),
 ('Territory of Australia',),
 ('Nonmetropolitan Territory of France',),
 ('Nonmetropolitan Territory of The Netherlands',),
 ('Constitutional Monarchy (Emirate)',),
 ('Occupied by Marocco',),
 ('Territorial Collectivity of France',),
 ('Dependent Territory of Norway',),
 ('Nonmetropolitan Territory of New Zealand',),
 ('Monarchy (Sultanate)',),
 ("People'sRepublic",),
 ('Parliamentary Coprincipality',),
 ('Commonwealth of the US',),
 ('Islamic Emirate',),
 ('Socialistic State',),
 ('Parlementary Monarchy',),
 ('Autonomous Area',),
 ('Federation',),
 ('Emirate Federation',),
 ('Independent Church State',)]

### List the country name and gnp of the countries in Southeast Asia with population less than 5 million

In [17]:
%%sql

select name, gnp
from country
where region = 'Southeast Asia' or population < 5000000
limit 10;

10 rows affected.

[('Netherlands Antilles', Decimal('1941.00')),
 ('Albania', Decimal('3205.00')),
 ('American Samoa', Decimal('334.00')),
 ('Andorra', Decimal('1630.00')),
 ('Anguilla', Decimal('63.20')),
 ('Antigua and Barbuda', Decimal('612.00')),
 ('United Arab Emirates', Decimal('37966.00')),
 ('Armenia', Decimal('1813.00')),
 ('Aruba', Decimal('828.00')),
 ('Bahamas', Decimal('3527.00'))]